@use '../../themes/variables.scss' as theme;

.header {
    background-color: theme.$primary-color;
    padding: 1.5rem 2rem;
    display: flex;

    & figure {
        width: 12rem;

        & img {
            width: 100%;
        }
    }

    @media screen and (max-width: 500px) {
        justify-content: center;
    }
}