@use '../../themes/variables.scss' as theme;

.checkbox {
    user-select: none;

    & span {
        cursor: pointer;
    }

    &--checked {
        color: theme.$secondary-color !important;
    }

    & input {
        display: none;
    }
}